.addproduct_form_input {
  background-color: #fff7e2;
  border: 1px solid rgba(128, 128, 128, 0.11);
}
.addproduct_form_input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #ffc222;
}
