.left_card {
  background-color: #fff7e2;
}

.left_card_cart {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: #ffc222;
  border-radius: 50%;
}
.left_card_cart:hover {
  color: white;
  cursor: pointer;
}
.title {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.title:hover {
  color: #ffc222;
}
